/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 102px;
  padding: 100px clamp(0rem, -8.143rem + 34.742vi, 23.125rem) 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  inline-size: 100vw;
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-font-article-text-weight);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 20px;
  background-color: #FFF;
  outline: 2px solid black;
  text-transform: uppercase;
  padding: clamp(7.5rem, 7.324rem + 0.751vi, 8rem) clamp(0.875rem, -1.469rem + 10vi, 7.531rem);
  font-family: var(--accent-font), sans-serif;
  width: var(--header-width);
}

.header__logo {
  font-size: clamp(3.063rem, 2.71rem + 1.502vi, 4.063rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.677rem + 0.845vi, 1.438rem);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}

.card {
  display: flex;
  flex-direction: column;
  width: var(--card-width);
}

.card__title {
  background-color: #FFF;
  font-size: 18px;
  line-height: 140%;
  padding: 3px 10px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  font-variation-settings: 'wght' var(--main-font-article-heading-weight);
}

.card__image-wrapper {
  position: relative;
  aspect-ratio: 1 / 1;
}

.card__image {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.shashlik_saturate_blur {
  filter: saturate(1.7) blur(1px);
}

.shashlik_blur {
  filter: blur(0.5px);
}

.shashlik_grayscale {
  filter: grayscale(0.6);
}

.shashlik_contrast_blur {
  filter: contrast(1.5) blur(0.8px);
}

.shashlik_contrast {
  filter: contrast(0.7);
}

.shashlik_grayscale_blur {
  filter: grayscale(0.6) blur(0.6px);
}

.shashlik_saturate {
  filter: saturate(1.2);
}

.shashlik_sepia {
  filter: sepia(0.8);
}

.header__label {
  font-family: 'PressStart2P';
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 14px;
  mix-blend-mode: hard-light;
  text-shadow: 
  1px 0 rgba(255, 255, 255, 0.5),
  0px 1px rgba(255, 255, 255, 0.5),
  -1px 0 rgba(255, 255, 255, 0.5),
  0 -1px rgba(255, 255, 255, 0.5);
}

@supports((text-stroke: 1px rgba(255, 255, 255, 0.5)) or (-webkit-text-stroke: 1px rgba(255, 255, 255, 0.5))) {
  .header__label {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    text-stroke: 1px rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  font-size: 18px;
  padding: 25px;
  gap: 25px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  line-height: 1.1667;
}

.card__buttons {
  display: flex;
  align-self: end;
  align-items: center;
  gap: 4px;
}

.card__like-button {
  display: flex;
  justify-content: center;
  position:relative;
  align-items: center;
  inline-size: 130px;
  block-size: 38px;
  text-transform: capitalize;
  overflow: hidden;
  border: 2px solid black;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px #000;
  transition: box-shadow 0.3s ease;
}

.card__like-button::before {
  content: '';
  display: block;
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  background-color: black;
}

.card__like-button:hover::before {
  transform: translate(0);
  transition: transform 0.5s ease-in-out;
}

.card__icon-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 34px;
  padding: 0;
  background-color: white;
  border: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid black;
  transition: outline 0.3s ease;
}

.like-icon {
  border: 2px solid transparent;
  inline-size: 39px;
  block-size: 36px;
}

.like-icon:focus {
  outline: none;
}

.like-icon:focus-visible {
  border: 2px solid black;
  transition: border 0.3s ease;
}

.sparks {
  opacity: 0;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s ease 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s ease;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s ease;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s ease;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s ease 0.05s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s ease 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s ease;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s ease 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s ease 0.06s;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

@keyframes heart-scale-animation {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}

@keyframes sparks-opacity-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.like-icon.is-liked {
  animation: heart-scale-animation 0.3s ease-in 1;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity-animation 0.3s ease-in 0.3s 1;
}

.save-dialog-open-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 15px 19px;
  gap: 8px;
  border: 2px solid black;
}

.save-dialog-open-button:focus {
  outline: none;
  box-shadow: 2px 2px #000;
  transition: box-shadow 0.3s ease;
}

.save-dialog-open-button::before {
  content: '';
  display: block;
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  background-color: black;
}

.save-dialog-open-button:hover::before {
  transform: translate(0);
  transition: transform 0.5s ease-in-out;
}

.button__text {
  position: relative;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.save-dialog-open-button-floppy {
  display: inline-block;
  inline-size: 21px;
  block-size: 21px;
  fill: var(--button-text-color);
  mix-blend-mode: difference;
}

.save-dialog-floppy {
  display: inline-block;
  min-inline-size: 39px;
  min-block-size: 39px;
  max-inline-size: 39px;
  max-block-size: 39px;
}

.save-dialog-open-text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.save-dialog[open] {
  display: flex;
  flex-direction: column;
  max-inline-size: 357px;
  padding: 30px;
  gap: 30px;
}

.save-dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.save-dialog-wrapper {
  display: flex;
  gap: 20px;
}

.save-dialog-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  block-size: 38px;
  border: 2px solid black;
}

.save-dialog-close-button:focus {
  outline: none;
  box-shadow: 2px 2px #000;
  transition: box-shadow 0.3s ease;
}

.save-dialog-close-button::before {
  content: '';
  display: block;
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  background-color: black;
}

.save-dialog-close-button:hover::before {
  transform: translate(0);
  transition: transform 0.5s ease-in-out;
}

@media (width <= 375.4px) {
  .header {
    --header-width: 100%;
  }

  .card {
    --card-width: 100%;
  }

  .save-dialog-open-button {
    flex-direction: column;
  }

  .save-dialog-open-button-floppy {
    inline-size: 28px;
    block-size: 28px;
  }
}